.pdf-container {
  width: 80%;
  text-align: center;
  margin: auto;
  padding: 1rem;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
}

.pdf-title h2 {
  cursor: pointer;
  padding: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--md-sys-color-primary);
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

embed,
embed * {
  background-color: var(--md-sys-color-primary-container) !important;
}

.pdf-viewer {
  height: 600px;
  width: 100%;
  transition: max-height 0.5s;
  max-height: 100vh;
}

.hidden {
  max-height: 0;
}
