* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  text-align: center;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

/* Home Section */

header {
  background-color: transparent;
  color: #fff;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  position: absolute;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: 1.5rem;
  padding: 20px 10px;
  margin: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 1.2rem;
}

section {
  padding: 8rem 3rem;
}

nav a,
nav a:visited,
nav a:active {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

a,
a:visited,
a:active {
  color: #4f4d4dcb;
  text-decoration: underline;
  font-size: 0.8rem;
  letter-spacing: 1.2px;
  width: 100%;
  height: 100%;
}

p,
.content,
h2,
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.2px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#logo {
  font-family: "Radio Canada Big", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }
}
#home {
  text-align: center;
  height: 90vh;
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin: auto;
  position: relative;
  display: flex;
  background-color: transparent;
  align-items: center;
  padding: 10px 0 10px 30px;
}

#home-bkd {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

#home h1 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 20px;
  text-align: left;
}

#home .quote {
  flex-grow: 2;
  height: fit-content;
  width: 20%;
  padding-left: 15px;
  position: relative;
  top: 10%;
  text-align: left;
}

#home .img-warren {
  position: absolute;
  flex-grow: 3;
  height: 100%;
  position: relative;
}

.quote p {
  color: rgba(115, 115, 115, 0.799);
  text-align: left;
}

#home img {
  width: 80%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.quote::before {
  content: open-quote;
  font-size: 7rem;
  color: #fff;
  position: absolute;
  top: -3.6rem;
  left: 1.5rem;
}

#home-btn {
  background-color: #fff;
  color: #000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  text-align: left;
}

@media screen and (max-width: 768px) {
  header {
    padding: 20px 10px;
  }

  header h1 {
    font-size: 1.2rem;
  }

  nav ul {
    gap: 0.8rem;
  }

  nav a {
    font-size: 1rem;
  }

  #home h1 {
    font-size: 2rem;
  }

  #home img {
    width: 120%;
    height: 90%;
  }
}

/* --------------------------------------------------- */

/* Explore Section */

#explore {
  background-color: #fff;
  text-align: center;
}

.boxes {
  display: grid;
  width: 80%;
  text-align: center;
  margin: auto;
  grid-template-columns: auto auto;
  gap: 2rem 2rem;
  margin-top: 2rem;
}

.box {
  /* height: 10rem; */
  width: 35vw;
  height: 35vh;
  display: inline;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding: 50px 20px;
  text-align: left;
  border-radius: 10px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.letter {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: none;

  button,
  a,
  a:visited,
  a:active {
    background-color: var(--md-sys-color-on-primary);
    color: var(--md-sys-color-primary);
  }
}

.subsidaries {
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);

  button,
  a,
  a:visited,
  a:active {
    background-color: var(--md-sys-color-on-secondary);
    color: var(--md-sys-color-secondary);
  }
}

.reports {
  background-color: var(--md-sys-color-tertiary);
  color: var(--md-sys-color-on-tertiary);

  button,
  a,
  a:visited,
  a:active {
    background-color: var(--md-sys-color-on-tertiary);
    color: var(--md-sys-color-tertiary);
  }
}

.stock-info {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  border: 1px solid var(--md-sys-color-outline);

  button,
  a,
  a:visited,
  a:active {
    background-color: var(--md-sys-color-on-surface);
    color: var(--md-sys-color-surface);
  }
}

.box button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: left;
  margin-top: 1.3rem;
}

a,
a:active,
a:visited {
  color: var(--md-sys-color-primary);
  text-decoration: none;
}

/* -------------------------------------------- */

/* sustainability */

#sustainability {
  margin: auto;
  width: 100%;
  background-color: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
  text-align: center;
  margin: auto;
  max-height: min-content;
}

#sustainability a {
  color: var(--md-sys-color-on-secondary);
}

.sustainability {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.sustainability .img {
  flex: 2;
  object-fit: cover;
  object-position: center;
  display: inline-block;
  width: 100%;
}
.sustainability .content {
  flex: 3;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  letter-spacing: 1.3px;
  line-height: 1.3rem;
}

/* --------------------------------------- */

/* News */

#news {
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  text-align: center;
}

.news {
  margin: auto;
  display: flex;
  width: 80%;
  gap: 3rem 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.news-card {
  display: inline-flex;
  width: 45%;
  min-width: 400px;
  gap: 30px;
  padding: 50px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.news-card .content {
  flex: 2;
  text-align: left;
}

.news-card .img {
  flex: 1;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  background-image: url("assests/news.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center, center;
}

.updated-on {
  color: #4a4a4a9e;
  font-size: 0.7rem;
}

.news-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
  letter-spacing: 1.2px;
}

.news-card p {
  font-size: 1rem;
  color: black;
  line-height: 1.3rem;
  margin: 10px 0;
}

.news-card a,
.news-card a:visited,
.news-card a:active {
  text-decoration: underline;
  color: var(--md-sys-color-primary);
  text-align: right;
  margin: 10px auto;
  margin-right: 8px;
  display: block;
  font-size: 0.8rem;
}

/* --------------------------------------- */
/* About */

#about {
  background-color: #f5f5f5;
  text-align: center;
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  max-width: 1000px;
  margin: auto;
  text-align: center;
}

.about .img {
  flex: 2;
}

.img img {
  max-width: 70%;
  object-fit: cover;
}

.about .content {
  flex: 3;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  letter-spacing: 1.3px;
  line-height: 1.3rem;
}

/* --------------------------------------- */

/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px 0;
}

/* Mobile Friendly */

@media screen and (max-width: 768px) {
  body {
    font-size: 0.8rem;
  }

  header {
    padding: 10px;
  }

  header h1 {
    font-size: 1.2rem;
  }

  nav ul {
    flex-direction: column;
    gap: 0.8rem;
  }

  nav a {
    font-size: 1rem;
  }

  section {
    padding: 4rem 1.5rem;
  }

  #home {
    padding: 5px 0 5px 15px;
  }

  #home h1 {
    font-size: 2rem;
  }

  #home .quote {
    width: 100%;
    padding-left: 7.5px;
  }

  #home img {
    width: 100%;
    height: 90%;
  }

  .boxes {
    grid-template-columns: auto;
    width: 90%;
  }

  .box {
    width: 100%;
    height: auto;
    padding: 25px 10px;
  }

  h1 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  .sustainability {
    flex-direction: column;
    gap: 1.5rem;
  }

  .sustainability .img,
  .sustainability .content {
    width: 100%;
  }

  .news {
    flex-direction: column;
    width: 90%;
  }

  .news-card {
    flex-direction: column;
    width: 100%;
    min-width: 200px;
    gap: 15px;
    padding: 25px 10px;
  }

  .news-card .content,
  .news-card .img {
    width: 100%;
  }

  .about {
    flex-direction: column;
    gap: 1.5rem;
  }

  .about .img,
  .about .content {
    width: 100%;
  }

  footer {
    padding: 10px 0;
  }
}
